@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
}

a,
button {
  cursor: pointer;
}

b {
  color: #f57920;
}

li {
  list-style-type: none;
}

body {
  background-color: #ffffff;
  display: flex;
  gap: 48px;
  padding: 40px 0 0 0;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  max-width: 1298px;
  width: 100%;
  background: #171717;
  border-radius: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 71px;
  width: 100%;
  height: 846px;
}

.hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 913px;
  width: 100%;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  height: 45px;
  background: #fd853a;
  border-radius: 40px;
  font-family: "Urbanist";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-wrap: nowrap;
}

.hero-top-text {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 95px;
  text-align: center;
  color: #171717;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 66px 30px;
  gap: 40px;
  max-width: 812px;
  width: 100%;
}

.hero-image {
  width: 680px;
  height: 244px;
}

.hero-mobail-image {
  display: none;
  height: 400px;
}

.manu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 367px;
  height: 82px;
  background: #feb981;
  border: 2px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7.5px);
  border-radius: 50px;
}

.manu-link.active {
  background: #fd853a;
  width: 100%;
  height: 100%;
  font-weight: 500;
}

.manu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 60px;
  font-weight: lighter;
  font-size: 25px;
  color: #ffffff;
  text-wrap: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  padding: 116px 40px;
  width: 100%;
  background: linear-gradient(110.23deg, #ffd0a9 0.12%, #d36e24 99.88%);
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  width: 100%;
}

.title {
  max-width: 1440px;
  width: 100%;
  font-weight: 500;
  font-size: 48px;
  padding: 0 55px;
  color: #fcfcfd;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
}

.product-card {
  position: relative;
  width: 416px;
  height: 508px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.025);
}

.product-card-content {
  display: flex;
  flex-direction: column;
  padding: 43px 0px 0px;
  justify-content: space-between;
  width: 416px;
  height: 508px;
  background: rgba(104, 104, 104, 0.2);
  border: 2px solid rgba(249, 250, 251, 0.3);
  backdrop-filter: blur(7.5px);
  border-radius: 37px;
  clip-path: path(
    "M0 37C0 16.5655 16.5655 0 37 0H379C399.435 0 416 16.5655 416 37V338.5C416 358.935 399.435 375.5 379 375.5H356.049C317.534 375.5 286.476 407.031 287.057 445.541L287.433 470.442C287.745 491.092 271.09 508 250.437 508H37C16.5655 508 0 491.435 0 471V37Z"
  );
}

.product-card-top {
  display: flex;
  flex-direction: column;
  padding: 0px 37px;
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  padding-bottom: 23px;
  border-bottom: 2px solid rgba(249, 250, 251, 0.3);
}

.product-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-card-image:nth-child(1) {
  width: 328px;
  height: 329px;
  background: #757575;
  opacity: 0.5;
  border-radius: 35px;
  z-index: 1;
}

.product-card-image:nth-child(2) {
  width: 374px;
  height: 329px;
  background: #9e9d9d;
  border-radius: 35px;
  margin: -310px 0px;
  z-index: 2;
}

.product-card-image {
  width: 416px;
  height: 307px;
  border-radius: 35px;
  z-index: 3;
}

.product-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 114px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #1d2939;
  border-radius: 57px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 25px 71px;
  gap: 10px;
  width: 100%;
  margin-top: 200px;
  background: #272727;
  border-radius: 24px 24px 0px 0px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #fd853a;
  border-radius: 60px;
  font-weight: 500;
  font-size: 25px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-title {
  font-weight: 600;
  font-size: 20px;
  color: #fd853a;
  margin-bottom: 8px;
}

.column-text {
  font-weight: 400;
  font-size: 16px;
  color: #fcfcfd;
}

.footer-label {
  display: flex;
}

.footer-input {
  display: flex;
  padding: 13px 14px;
  width: 258px;
  height: 51px;
  background: #ffffff;
  border: none;
  border-radius: 14px 0px 0px 14px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 51px;
  background: #fd853a;
  border: none;
  border-radius: 0px 14px 14px 0px;
}

.footer-hr {
  width: 100%;
  border: 1px solid #475467;
}

.copyright {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    padding: 0;
  }

  .header {
    border-radius: 0;
  }

  .hero-image {
    display: none;
  }

  .hero-mobail-image {
    display: block;
  }

  .hero-top-text {
    font-size: 60px;
  }

  .title{
    display: flex;
    justify-content: center;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .column {
    align-items: center;
    padding: 0;
  }

  .footer{
    margin: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
